*{
    font-family: 'Lato', sans-serif;
}

body {
    /* padding-top: 10px; */
}

.navbar {
    background-color: black;
    border-bottom: 2px solid rgb(255, 115, 0);
}

.container {
    display: inline-flex;
  }

.bordered-div{
    border: 1px solid #9b9b3836;
    padding: 0px;
    border-top: 0px;
}

#latest-mails {
    list-style: none;
}

#latest-mails{
    table-layout:fixed;
    text-align: left;
    word-wrap: break-word;
}

#latest-mails tr :hover{
    cursor: pointer;   
}

#latest-mails tr :last-child{
    width: 20%;    
}

#latest-mails thead :first-child{
    width: 20%; 
}

#latest-mails thead :hover{
    cursor: auto;
}

.len-vh {
    height:70vh;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    padding: 2px;
}

.left-nav-btn{
    border-radius: 14px;
}

#left-nav a{
    text-decoration: None;
    border-radius: 2px;
    color: #eb5c23d2;
    width: 100%;
    margin: 0px;
    font-weight: bold;
    font-size: 17px;
}

#left-nav a:hover{
    color: #eb5c23;
    background-color: #9b9b3836;
}

#top-btns button{
    color: #eb5c2369;
}

#top-btns button:hover{
    color: #eb5c23;
}

thead{
    color: #eb5c23;
}