{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="{% static 'csss/main.css' %}">

    <title>SE| Dashboard</title>
</head>

<body style="height:100vh;">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">SE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>                     -->
            </ul>
            <div class="float-right">
                <button type="button" class="btn btn-light" onclick="document.location.href='/'">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </div>
        </div>
    </nav>
    <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2" id="main">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 bordered-div  d-none d-md-block">
            <nav class="nav flex-column" id="left-nav">
                <a class="nav-link active" href="#" onclick="toggleContent('composer')"><i class="fas fa-plus"></i>&nbsp;&nbsp;new</a>
                <a class="nav-link" href="#" onclick="toggleContent('mails-list')"><i class="fas fa-envelope"></i>&nbsp;&nbsp;inbox</a>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
            <div class="float-left" id="top-btns">
                <button type="button" class="btn btn-link float-left" onclick="toggleContent('mails-list')" data-toggle="tooltip"
                    data-placement="bottom" title="back">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </button>
                <button type="button" class="btn btn-link float-left" onclick="toggleContent('composer')" data-toggle="tooltip"
                    data-placement="bottom" title="new message">
                    <i class="fas fa-plus fa-lg"></i>
                </button>
                <button type="button" class="btn btn-link float-left" onclick="toggleContent('mails-list')" data-toggle="tooltip"
                    data-placement="bottom" title="show inbox">
                    <i class="fas fa-envelope fa-lg"></i>
                </button>
            </div>
            <div class="mx-auto mt-5 bordered-div len-vh" id="mails-list">
                <div class="mx-auto mt-15 text-center" style="width: 50%">
                    <i class='fas fa-spinner fa-w-16 fa-spin fa-lg'></i><br>
                    <p class="text-muted">fecthing latest emails...</p>
                </div>
            </div>
            <div class="mx-auto mt-5 bordered-div len-vh" id="message-body">
                <i class='fas fa-spinner fa-w-16 fa-spin fa-lg'></i><br>
                <p class="text-muted">loading email...</p>
            </div>
            <div class="mx-auto mt-5 bordered-div len-vh" id="composer">
                <form method="POST" id="frm-compose">
                    {% csrf_token %}
                    <div class="form-group row col-sm-6">
                        <div class="col">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row col-sm-6">
                        <div class="col">
                            <input type="email" class="form-control" name="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group col-sm-8">
                        <textarea class="form-control" name="body" rows="3" placeholder="Type text here..."></textarea>
                      </div>
                </form>
                <div class="mx-auto mt-15 text-center" style="width: 50%">
                    <button type="button" class="btn btn-dark" id="btn-send" onclick="sendMail()">send</button>
                    <button type="button" class="btn btn-dark" id="btn-cancel">cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/mails.js' %}"></script>
</body>

</html>